#tab{
    width:80%;
    height: auto;
    float: left;
    margin: 5px 10px;
    padding: 10px;
    margin-left: 20px;
}
#tab .travel-head {
    text-align: center;
    border-bottom: 2px solid coral;
    height: 110px;
    padding-top: 5px; }
#tab .travel-head span {
    display: block;
    height: 40px;
    font-size: 18px;
    font-weight: bold; }
#tab .travel-head ul{
    list-style-type: none;
    display: block;
}
#tab .travel-head ul li{
    float:left;
}
#tab .travel-head ul li input{
    background-color: #ffa200;
    padding: 5px;
    border:none;
    border-radius: 4px;
    text-align: center;
    width: 150px;
    height: 40px;
    font-size: 16px;
    margin-left: 30px;
    outline: 0;
    color: white;
    font-weight: bold;
}
#tab .travel-head ul li input:hover{
    background-color: #EEB422 ;
    transition-duration: 0.3s;
    color: white;
    border-radius: 4px;
}

#tab #tab1 table {
    margin-top: 20px;
    padding: 10px;
    width: 50%; }
#tab #tab1 table tr {
    margin-top: 10px; }
#tab #tab1 table th {
    text-align: right; }
#tab #tab1 table td {
    height: 60px;
    text-align: center; }
#tab #tab1 table td input {
    border-radius: 5px;
    line-height: 28px;
    border: 1px solid #d8d8d8;
    color: #666;
    box-shadow: 0 0 5px #fff;
    height: 25px;
    width: 80%;
    padding-left: 5px; }
#tab #tab1 table td input:focus {
    transition-duration: 0.5s;
    border: 1px solid #ffa200;
    box-shadow: 0 0 5px #ffa200;
    outline: 0; }
#tab #tab1 #t-submit {
    margin-top: 5px;
    margin-left: 20%; }
#tab #tab1 #t-submit button {
    outline: 0;
    color: #fff;
    background-color: #ffa800;
    border-radius: 3px;
    text-align: center;
    height: 40px;
    border: none;
    width: 10%; }
#tab #tab1 #t-submit button:hover {
    background-color: #ff7200; }
#tab #tab2 {
    margin-top: 20px;
    width: 100%; }
#tab #tab2 .list {
    width: 100%;
    margin: 10px auto; 
 margin-top: 10px;}
#tab #tab2 .list dl dt {
    background-color: #f4fff4;
    height: 50px;
    width: 90%;
    border-radius: 4px;
    color: #006600;
    display: block;
    border: 1px solid #AAAAAA;
    padding: 15px 10px 0 10px; }
#tab #tab2 .list dl dt .start-time {
    display: block;
    float: right; }
#tab #tab2 .list dl dd {
    margin-left: 2px;
    width: 91%;
    border: 1px solid #AAAAAA;
    background-color: #f4fff4; }
#tab #tab2 .list dl dd .person table {
    padding: 10px;
    width: 50%; }
#tab #tab2 .list dl dd .person table tr {
    margin-top: 2px; }
#tab #tab2 .list dl dd .person table th {
    text-align: right; }
#tab #tab2 .list dl dd .person table td {
    height: 30px;
    text-align: center; }
#tab #tab2 .list dl dd .person table td input {
    border-radius: 5px;
    line-height: 28px;
    border: 1px solid #d8d8d8;
    color: #666;
    box-shadow: 0 0 5px #fff;
    height: 25px;
    width: 80%;
    padding-left: 5px; }
#tab #tab2 .list dl dd .person table td input:focus {
    transition-duration: 0.5s;
    border: 1px solid #ffa200;
    box-shadow: 0 0 5px #ffa200;
    outline: 0; }
#tab #tab2 .list dl dd .person #t-submit {
    margin-top: 5px;
    margin-left: 6%;
    margin-bottom: 5px; }
#tab #tab2 .list dl dd .person #t-submit .submit {
    outline: 0;
    color: #fff;
    background-color: #ffa800;
    border-radius: 6px;
    text-align: center;
    height: 40px;
    border: none;
    width: 120px; }
#tab #tab2 .list dl dd .person #t-submit .submit:hover {
    background-color: #ff7200; }
#tab #tab2 .list dl dd .person #t-submit .edit {
    border-radius: 6px;
    outline: 0;
    height: 40px;
    width: 120px;
    background-color: #fff;
    border: 1px solid c6e2ff; }
#tab #tab2 .list dl dd .person #t-submit .edit:hover {
    background-color: #ecf5ff;
    border-color: #c6e2ff;
    color: #409EFF;
    transition-duration: 0.2s; }
#tab #tab2 .list dl dd .person #t-submit .delete {
    border-radius: 6px;
    outline: 0;
    height: 40px;
    width: 120px;
    background-color: #f56c6c;
    color: #fff;
    border: none; }
#tab #tab2 .list dl dd .person #t-submit .delete:hover {
    background-color: #f78989;
    border-color: #f78989;
    transition-duration: 0.2s; }
#tab #tab2 .list dl dd .person #t-submit .cancel {
    border-radius: 6px;
    outline: 0;
    height: 40px;
    width: 120px;
    background-color: #00BC9B;
    color: #fff;
    border: none; }
#tab #tab2 .list dl dd .person #t-submit .cancel:hover {
    background-color: #00B091;
    border-color: #00B091;
    transition-duration: 0.2s; }
#tab #tab2 .list dl dd .person #t-submit .person {
    border-radius: 6px;
    outline: 0;
    height: 40px;
    width: 120px;
    background-color: #409EFF;
    color: #fff;
    border: none; }
#tab #tab2 .list dl dd .person #t-submit .person:hover {
    background-color: #66b1ff;
    border-color: #66b1ff;
    transition-duration: 0.2s; }
#tab #tab3{
    width: 100%;
    height: auto;
}
#tab #tab3 .tour-table{
    margin: 0 auto;
    margin-top: 20px;
    width: 60%;
    height: auto;
    padding: 4px;
    text-align: center;
    border-radius: 4px;
    border: 1px solid #ccc;
}
.tour-table thead{
    background-color: #AAAAAA;
}
#tab #tab3 .tour-table .delete{
    border-radius: 6px;
    outline: 0;
    height: 30px;
    width: 80px;
    background-color: #f56c6c;
    color: #fff;
    border: none;
}
/*# sourceMappingURL=goTravel.css.map */
